#gridctr.readonly .x-spreadsheet .x-spreadsheet-bottombar .x-spreadsheet-contextmenu,
#gridctr.readonly .x-spreadsheet .x-spreadsheet-bottombar ul > li:first-child > div:first-child {
    cursor: default;
    display: none;
    visibility: hidden;
}
